[Desktop Entry]
Name=LightDM GTK+ Greeter
Comment=This runs the GTK+ greeter, it should only be run from LightDM
Exec=lightdm-bbqlinux-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
Name[de_DE]=lightdm-bbqlinux-greeter
